@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

.container{
    display: flex;
    align-items: center;
}

.menu-topics{
    font-family: 'montserrat',sans-serif;
    display: flex;
    margin-left: 20px;
    color: #202020;
    
}

.logo{
    height: 100%;
}